@use "../abstracts/colors";

.image-segment-container {
  width: clamp(300px, auto, 100%);
  border-radius: 2rem;
  border: 0.1rem solid colors.$purple-bg;
}

.Image-Segment {
  padding: 2rem;
  width: fit-content;
  height: auto;
  max-height: 80vh;
  width: clamp(320px, 80%, auto);
}


.upload {

  &--simple::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &--simple::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
  }
  &--simple::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: rgba(0,0,0,0.2);
  }
  &--simple::-webkit-scrollbar-thumb:hover{
    background: rgba(0,0,0,0.4);
  }
  &--simple::-webkit-scrollbar-thumb:active{
    background: rgba(0,0,0,.9);
  }
}